.container{
    display: flex;
    justify-content: center;
}

.verde {
    width: 400px;
    height: 225px;
    position: relative;
}

#slider-content-1 {
    position: absolute;
    left: 50%;
    transform: translate(0%, 50%);
}

#slider-content-2 {
    position: absolute;
    left: 50%;
}

#slider-content-3 {
    position: absolute;
    left: 50%;
    transform: translate(-100%, 50%);
}

.content{
    height: 50%;
    width: 33%;
    opacity: 0.8;
    filter: blur(2px);
    transition: transform 1s ease-in-out, height 1s ease-in-out,
    opacity, opacity 1s ease-in-out, filter 1s ease-in-out;
}

.main {
    height: 55%;
    transform: translate(-50%, 40%);
    opacity: 1;
    filter: blur(0px);
}